body{
    font-family: Roboto;
}
.nav nav-pills{
    color: #4583a8;
    position: sticky;
}
.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: #4583a8;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #4583a8;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: #4583a8;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #fff;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }

.two {
    color: #000;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 20px;
    z-index: 1;
  }
  
  .two {
    color: #4583a8;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #4583a8;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
  .two .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .two .c-button__blobs div {
    background-color: #4583a8;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .two .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .two .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .two .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .two:hover {
    color: #fff;
  }
  
  .two:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }
  
  .text{
    float: right;
  }
  .intro{
    width: 500px;
    height: 500px;
    margin-right: 20px;
  }
  .site-main .about-area{
    padding: 8rem 5rem;
}
.button {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
  }
  
  .button span {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #4583a8;
    border-radius: 9px;
    transition: 0.5s;
  }
  
  .button:hover::before {
    opacity: 0.7;
  }
  
  .button::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }
  
  .button:hover:after {
    opacity: 1;
  }
  .nav-item:hover{
    font-size: 20px;
  }
  .heading{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
  }
  .heading-about{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
  }
  .heading-contact{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
  }
  .contact{
    font-family: 'Times New Roman', Times, serif;
  }

  
 